<div class="txt" style="text-align: center;">Welcome to {{title}}
<br>-------------------------------------------------------------------
</div>
<br>


<div style="text-align: center; font-size: 35px;">Class Binding
  <br>--------------------
  <h1 class="stg">Mohith</h1>
  <h1 [class] = "classclo">Mohith</h1>
  <h1 class="sti" [class] = "classclo">Mohith</h1>
  <h1 [class.str] = "hasError">Mohith</h1>
  <h1 [ngClass] = "objclas">Mohith</h1>
  <h1 class="txt">Mohith</h1>
</div>


<div style="text-align: center; font-size: 35px;">Style Binding
  <br>--------------------
  <h1 [style.color] = "'orange'">Style Binding 1</h1>
  <h1 [style.color] = "hasError1 ? 'red' : 'green' ">Style Binding 2</h1>
  <h1 [style.color] = "highlightColor">Style Binding 3</h1>
  <h1 [ngStyle] = "titleStyle">Style Binding 4</h1>
</div>


<div style="text-align: center; font-size: 35px;">Event Binding
  <br>--------------------<br>
  <button (click)="onClick($event)"> Click {{greeting}}</button><br>
  {{greeting}}<br>
  <button (click)="greeting='Hello'"> Click {{greeting}}</button>
</div>
<br>

<div style="text-align: center; font-size: 35px;">Structural Directives
  <br>-------------------- <br>
  <div>
    <h1 *ngIf="displayName">
    Mohith
    </h1>
    --------------------------------
    ngIF
    <h1 *ngIf="displayName; else elseBlock">
      Mohith
    </h1>
    <ng-template #elseBlock>
      <h1>
        Hidden
      </h1>
    </ng-template>
    --------------------------------ngIf
  
    <h1 *ngIf="displayName; then thenBlock; else elseBlock">
    </h1>
    <ng-template #thenBlock>
      Mohith
    </ng-template>
    <ng-template #elseBlock>
      Hidden
    </ng-template>
    --------------------------------ngSwitch
    <div [ngSwitch] = "color">
      <p *ngSwitchCase="'black'">Black ngSwitch</p>
      <p *ngSwitchCase="'yellow'">Yellow ngSwitch</p>
      <div *ngSwitchDefault>Default ngSwitch</div>
    </div>
    <br>
    --------------------------------ngFor
    <div *ngFor="let color of colors">
      <h2>{{color}}</h2>
    </div>
    --------------------------------
    <div *ngFor="let color of colors; index as i">
      <h2>{{i}} {{color}}</h2>
    </div>
    --------------------------------
    <div *ngFor="let color of colors; odd as i">
      <h2>{{i}} {{color}}</h2>
    </div>
    --------------------------------
    <div *ngFor="let color of colors; even as i">
      <h2>{{i}} {{color}}</h2>
    </div>
    --------------------------------
    <div *ngFor="let color of colors; first as i">
      <h2>{{i}} {{color}}</h2>
    </div>
    --------------------------------
    <div *ngFor="let color of colors; last as i">
      <h2>{{i}} {{color}}</h2>
    </div>
  </div>
</div>

<div style="text-align: center; font-size: 35px;">Component Interaction
  <br>-------------------- <br>
  <h4>App Component</h4>
  {{msg}}
  
  </div>
  <br>
  
  <div style="text-align: center;">
        <h2>
              <app-test (childEvent)= "msg = $event" [parentData] = "name"></app-test>
        </h2>
</div>




<div style="text-align: center; font-size: 35px;">Template Reference
  <br>-------------------- <br>
  <input #myInput type="text">
  <button (click)="logmsg(myInput.value)">Log</button>
</div>

<br><br>

<div style="text-align: center; font-size: 35px;">Two Way Binding
  <br>-------------------- <br>
  <div>
    <button (click)="incrementCounter()">Increment</button>
    <p>{{ counter }}</p>
    --------------------
    <p>{{ displayValue }}</p>  
    <input type="text" [(ngModel)]="inputValue">
    <button (click)="updateValue()">Update</button>
   
  </div>
</div>